@import "tailwindcss";

@theme {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    sans-serif;

  --color-brand-400: #818cf8;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-700: #4338ca;
}

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply text-slate-100 font-sans antialiased;
    background-color: #020617;
  }

  #root {
    @apply min-h-screen;
  }
}

@layer utilities {
  /* Nieve navideña */
  @keyframes snow-fall {
    0% {
      transform: translateY(-10vh);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: translateY(110vh);
      opacity: 0;
    }
  }

  .snowflake {
    position: absolute;
    border-radius: 999px;
    background: rgba(248, 250, 252, 0.9);
    animation-name: snow-fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    will-change: transform, opacity;
    pointer-events: none;
  }

  /* Fondo pastel oscuro, ESTÁTICO (sin animación) */
  .bg-soft-gradient {
    background-image: linear-gradient(
      135deg,
      #020617,
      #03091b,
      #0b1220,
      #111827,
      #1e293b
    );
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}